<div class="css-wrapper">
  <div class="cms-sidebar">
    <div>
      <div class="logo-section">
        <strong>CMS ADMIN</strong>
      </div>
      <ul class="menu">
        <li><a>Нүүр</a></li>
        <li><a>Бараа</a></li>
        <li><a>Хэрэглэгч</a></li>
        <li><a>Тохиргоо</a></li>
      </ul>
    </div>
    <div class="bottom-section">
      <div class="user-section">
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          class="mr-2"
          size="xlarge"
          shape="circle"
        />
        <!-- <p-avatar
            class="p-overlay-badge"
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/walter.jpg"
            size="xlarge"
          /> -->
        <span>Saru</span>
      </div>
      <p-button label="Гарах" variant="outlined" severity="danger" />
    </div>
  </div>
  <div class="cms-body">
    <div class="cm-container">
      <div class="cms-table">
        <p-table
          [value]="products"
          [paginator]="true"
          [rows]="5"
          [tableStyle]="{ 'min-width': '50rem' }"
          [rowsPerPageOptions]="[5, 10, 20]"
        >
          <ng-template #header>
            <tr>
              <th style="width: 25%">Name</th>
              <th style="width: 25%">Country</th>
              <th style="width: 25%">Company</th>
              <th style="width: 25%">Representative</th>
            </tr>
          </ng-template>
          <ng-template #body let-customer>
            <tr>
              <td>{{ customer.name }}</td>
              <td>{{ customer.country.name }}</td>
              <td>{{ customer.company }}</td>
              <td>{{ customer.representative.name }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
